@inherits LayoutComponentBase
@using Astrum.Api.Components

<PageTitle>Astrum</PageTitle>

<AuthorizeView Roles="Admin, SuperAdmin">
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <main style="background-color: #f0f2fc">
                <article class="content px-4">
                    @*TODO: AuthorizeRouteView dont work, fix it*@
                    @Body
                </article>
            </main>
        </div>
</Authorized>
    <NotAuthorized>
        <NotAuthorizedHandler></NotAuthorizedHandler>
    </NotAuthorized>
</AuthorizeView>