@page "/admin/category"
@inject ICategoryService _categoryService

<PageTitle>Категории статей</PageTitle>

<h3>Категории статей</h3>
<CreateCategory OnCategoryCreated="OnInitializedAsync" />
<CategoryTable OnCategoriesChange="OnInitializedAsync" Categories="Categories" />

@code {
    public List<CategoryView> Categories = new List<CategoryView>();

    protected async override Task OnInitializedAsync()
    {
        Categories = await _categoryService.GetAll();
    }
}
